.matching-character {
    border: 1px solid black;
    display: block;
    width: 100%;
}

.slick-prev:before {
  content: "<";
  color: #212529;
  font-size: 3rem;
}

.slick-next:before {
  content: ">";
  color: #212529;
  font-size: 3rem;
}
